Frontend/node_modules

Backend/FastAPI/__pycache__
Backend/FastAPI/Text/__pycache__
Backend/FACE

Backend/FastAPI/Text/data
Backend/FastAPI/df.csv
Backend/FastAPI/gam_graph.py

command.bat
.pytest_cache
Backend/FastAPI/gpt2_test.py
.vscode
Backend/FastAPI/sqlite.db
