/Frontend/node_modules
/Frontend/.vscode

/Backend/FastAPI/__pycache__
/Backend/FastAPI/Text/__pycache__
/Backend/FACE/FACE-main/.gitignore
/Backend/FACE/FACE-main/LICENSE
/Backend/FACE/FACE-main/plot/.gitignore
/Backend/FACE/FACE-main

command.bat
Backend/FastAPI/test.txt
Backend/FastAPI/df.csv
